@page "/"
@page "/home"

<PageTitle>Index</PageTitle>

<h1>Task 1</h1>
<p>
    Using Solar System parameters, verify that the square of orbital period is proportional to the cube of the orbital semi-major axis. 
    If units of years for time and Astronomical Units (AU) for distance are used, show that the constant of proportionality is very close to unity for the Solar System.
</p>

<div class="container container-fluid" style="max-width: 50rem;">
    <div class="card" style="padding: 2rem;">
        <img src="assets/challenge1bpcc.png" frameborder="0" scrolling="no" style="max-width: 100rem;"/>
    </div>
</div>